body{
    background-color: #07252d;
    font-family: Arial, Helvetica, sans-serif;
    color : cyan;
    text-shadow: 0 0 25px #d6f5ff;
    text-transform: uppercase;
}

h1{
    font-size: 40px;
    margin-bottom: 105px;
    color : rgb(0, 81, 255);
    text-shadow: 0 0 25px rgb(136, 159, 211);
}

h2{
    font-size: 30px;
    color : rgb(0, 81, 255);
    text-shadow: 0 0 25px rgb(136, 159, 211);
}

h3{
    font-size: 30px;
    color : rgb(0, 81, 255);
    text-shadow: 0 0 25px rgb(136, 159, 211);
}

p{
  font-size: 15px;
}


nav{
    position: fixed;
    z-index: 999;
}

.brand-logo img{
  width: 64px;
}

/* .parallax-container .parallax img {
    bottom: 75px;
}  */

.carousel{
    height : 400px !important;
}

.carousel .carousel-item img {
    width: 90%;
    height: 90%;
    border: 3px solid cyan;
    border-radius: 14px;
    margin-bottom: 50px;
} 

.card{
    border: 3px solid cyan;
}

.card .card-content .card-title {
    font-size: 20px;
}


